<template name="participant">
    <span id="participant1">participant N°1</span><br>
    <div id="1">
        {{> bullshitometer1}}
        {{> buttonLine}}
    </div>
    <div id="2">
        <span id="participant2">participant N°2</span><br>
        {{> bullshitometer2}}
        {{> buttonLine}}
    </div>
    <div id="3">
        <span id="participant3">participant N°3</span><br>
        {{> bullshitometer3}}
        {{> buttonLine}}
    </div>
</template>


<template name="bullshitometer1">
    <div class="meter-container">
        <div class="meter">
            note : {{averageNote1}} %
        </div>
        <meter optimum="1" value="{{averageNote1}}">60%</meter>
    </div>
</template>

<template name="bullshitometer2">
    <div class="meter-container">
        <div class="meter">
            note : {{averageNote2}} %
        </div>
        <meter value="{{averageNote2}}">60%</meter>
    </div>
</template>

<template name="bullshitometer3">
    <div class="meter-container">
        <div class="meter">
            note : {{averageNote3}} %
        </div>
        <meter value="{{averageNote3}}">60%</meter>
    </div>
</template>


<template name="buttonLine">
    <div class="button-line">
        <button type="button" class="red" id="bullshit">BULLSHIT!</button>
        <button type="button" class="orange" id="dontAgree">DON'T AGREE</button>
        <button type="button" class="yellow" id="moreOrLess">MORE OR LESS</button>
        <button type="button" class="light-green" id="quiteTrue">QUITE TRUE</button>
        <button type="button" class="green" id="damnRight">DAMN RIGHT!</button>
    </div>
</template>

