<template name="participant">
    <span id="participant1">participant N°1</span><br>
    <div id="1">
        {{> bullshitometer1}}
        {{> buttonLine}}
    </div>
    <div id="2">
        <span id="participant2">participant N°2</span><br>
        {{> bullshitometer2}}
        {{> buttonLine}}
    </div>
    <div id="3">
        <span id="participant3">participant N°3</span><br>
        {{> bullshitometer3}}
        {{> buttonLine}}
    </div>
</template>


<template name="bullshitometer1">
    <div class="meter-container">
        <div class="meterInfo">
            <span class="participantNote">{{averageNote1}} %</span>
            <span class="voteNumber">{{voteNumber}} votes</span>
        </div>
        <meter max="100" low="33" high="67" optimum="100" value="{{averageNote1}}">{{averageNote1}} %</meter>

    </div>
</template>

<template name="bullshitometer2">
    <div class="meter-container">
        <div class="meterInfo">
            <span class="participantNote">{{averageNote2}} %</span>
            <span class="voteNumber">{{voteNumber}} votes</span>
        </div>
        <meter max="100" low="33" high="67" optimum="100" value="{{averageNote2}}">{{averageNote2}} %</meter>
    </div>
</template>

<template name="bullshitometer3">
    <div class="meter-container">
        <div class="meterInfo">
            <span class="participantNote">{{averageNote3}} %</span>
            <span class="voteNumber">{{voteNumber}} votes</span>
        </div>
        <meter max="100" low="33" high="67" optimum="100" value="{{averageNote3}}">{{averageNote3}} %</meter>
    </div>
</template>


<template name="buttonLine">
    <div class="button-line">
        <button type="button" class="red" id="bullshit">BULLSHIT!</button>
        <button type="button" class="orange" id="dontAgree">DON'T AGREE</button>
        <button type="button" class="yellow" id="moreOrLess">MORE OR LESS</button>
        <button type="button" class="light-green" id="quiteTrue">QUITE TRUE</button>
        <button type="button" class="green" id="damnRight">DAMN RIGHT!</button>
    </div>
</template>

